*{
  font-family: "Bricolage Grotesque", serif;
}
.contenido {
  margin: 2rem 0;
  align-items: left;
}

#bienvenida > h1 {
  text-align: center;
  color: #444;
  margin-bottom: 2rem;
  font-size: 2rem;
  position: relative;
}

.imagenflot {
  width: 300px;
  height: 300px;
  float: left;
  padding: 1%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border: 1px solid black;
  margin-right: 2%;
}

.imagenflot:hover {
  transform: scale(1.05);
}

.texto-bienvenida {
  display: inline;
  padding: 1;
  font-size: 1.5em;
  color: #000000;
}
