.hoja-de-vida>h1 {
    font-family: "Bricolage Grotesque", serif;
    text-align: center;
    color: #444;
    margin-bottom: 2rem;
    font-size: 2rem;
    position: relative;
}

main {
    font-family: "Bricolage Grotesque", serif;
}

.indice {
    background: linear-gradient(50deg, #ffffff 0%, #e0e7ff 100%);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid rgb(131, 135, 140);
    font-size: 20px;
}

.indice ul {
    list-style-type: none;
    padding: 0;
}

.indice a {
    color: #3498db;
    text-decoration: none;
    line-height: 1.6;
}

.indice a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 20px;
}

main ul li::before {
    content: "•";
    color: #6ca3da;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
}

.section-container {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(131, 135, 140);
}

/*poner degradado en cada seccion*/
#experiencia {
    background: linear-gradient(135deg, #e0e7ff 0%, #ffffff 100%);
}

#estudios {
    background: linear-gradient(50deg, #ffffff 0%, #e0e7ff 100%);
}

#premios {
    background: linear-gradient(135deg, #e0e7ff 0%, #ffffff 100%);
}

ol {
    padding-left: 50px;
}

ol li {
    color: #333;
    margin-bottom: 5px;
}

ol li::marker {
    color: #278aae;
    font-weight: bold;
}
.experiencia h3{
    margin-left: 20px;
}

.subsection h3 {
    margin-left: 2em; /* Align with bullet points */
    margin-right: 2em;
}

.imagenes{
    display: flex;
    justify-content: center;
}

.imagenes img {
    margin: 10px; /* Add margin to create spacing between images */
}